<div style="text-align:center;width:100%;">
	Comming Soon... 
</div>

<!--
<div id="mainbox">
        <div class="boxcontainer"> <a href="#"><img src="assets/design_icons/home.jpg" alt="Alternate Text" width="71" height="71" title="your title" class="box_thumb" /></a>
                <h4><a href="#">Home Settings</a></h4>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. </div>
        <div class="boxcontainer"> <a href="#"><img src="assets/design_icons/cart.jpg" width="71" alt="Alternate Text"  height="71" title="your title" class="box_thumb" /></a>
                <h4><a href="#">Products Orders</a></h4>
                Etiam eros. Integer malesuada ante id augue. Morbi vehicula. </div>
        <div class="boxcontainer"> <a href="#"><img src="assets/design_icons/gallery.jpg" alt="Alternate Text" width="71" height="71" title="your title" class="box_thumb" /></a>
                <h4><a href="#">Photo Management</a></h4>
                Vivamus placerat, mauris id semper iaculis, mauris tellus , </div>
        <div class="boxcontainer"> <a href="#"><img src="assets/design_icons/email.jpg" alt="Alternate Text" width="71" height="71" title="your title" class="box_thumb" /></a>
                <h4><a href="#">Email Management</a></h4>
                vel interdum lectus elit in nibh. libero </div>
        <div class="boxcontainer"> <a href="#"><img src="assets/design_icons/time.jpg" alt="Alternate Text" width="71" height="71" title="your title" class="box_thumb" /></a>
                <h4><a href="#">Date &amp; Time Settings</a></h4>
                a erat adipiscing consectetur. Sed iaculis  metus. </div>
        <div class="boxcontainer"> <a href="#"><img src="assets/design_icons/settings.jpg" alt="Alternate Text" width="71" height="71" title="your title" class="box_thumb" /></a>
                <h4><a href="#">Global Settings</a></h4>
                justo urna aliquet elit, ut iaculis orci neque a sapien. </div>
        <div class="boxcontainer"> <a href="#"><img src="assets/design_icons/folders.jpg" alt="Alternate Text" width="71" height="71" title="your title" class="box_thumb" /></a>
                <h4><a href="#">Folder Settings</a></h4>
                Vestibulum eu enim vel arcu imperdiet suscipit. </div>
        <div class="boxcontainer"> <a href="#"><img src="assets/design_icons/users.jpg" alt="Alternate Text" width="71" height="71" title="your title" class="box_thumb" /></a>
                <h4><a href="#">User Settings</a></h4>
                Pellentesque quam pede, rhoncus quis, euismod a </div>
        <div class="boxcontainer"> <a href="#"><img src="assets/design_icons/security.jpg" alt="Alternate Text" width="71" height="71" title="your title" class="box_thumb" /></a>
                <h4><a href="#">Website Security</a></h4>
                faucibus lobortis, est. Mauris posuere, est ac imperdiet, </div>
        <div style="clear:both"></div>
</div>
-->
<br />
