<%= form_tag '', :method => 'get', :id => "transaction_form", :class=>'form', :style => "padding:0px;" do %>  						
	<div id="transaction_div"> 	
		<%= render 'transaction_listing' %>	  	
	</div>												
 <% end %>	
 
 <script type="text/javascript">
$(document).ready(function() {	  
	  $("#transaction_div th a, #transaction_div .pagination a").live("click", function() {			
			$("#middlepart").mask("Processing...");	
			$.getScript(this.href);			
			return false;
	  });
  
     $("#transaction_div").ajaxStop(function(){	
	  	$("#middlepart").unmask();	
	  });
	  
	  $('.processing').click(function(){
		 $("#middlepart").mask("Processing...");	
	});
});
</script>